### Java ###
*.class
*.log
*.jar
*.war
*.ear
*.iml

### IntelliJ ###
.idea/
*.iml
out/

### OS ###
.DS_Store
Thumbs.db

### JavaFX Resources ###
*/resources/**/out/

### Gradle/Maven (hvis det kommer senere) ###
/target/
/build/
